html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

.topnav-right {
    float: right;
}

.topnav-center {
    display:inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.background-dark {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.topnav-item {
    padding: 1rem;
    display: inline-block;
    text-align: center;
}

a.topnav-item {
    cursor: pointer;
    text-decoration: underline;
}

.topnav input{
    width: 20rem;
    background-color: rgba(0,0,0,0);
    opacity: 0.6;
    color: white;
    border: 0;
    border-bottom: 2px solid white;
}

.bold {
    font-weight: bold;
}

/*background-color: #1565c0;*/

.topnav.lightblue-fx a:hover {
    background-color: #5e92f3;
}

.topnav.lightblue-fx a:active, .topnav.lightblue-fx a:focus {
    background-color: #003c8f;
}

.topnav.lightblue-fx a.active {
    background-color: #1565c0;
}
