html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

.topnav-right {
    float: right;
}

.topnav-center {
    display:inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.background-dark {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.topnav-item {
    padding: 1rem;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

a.topnav-item {
    cursor: pointer;
    text-decoration: underline;
}

div.topnav-right img.searchbutton {
    height: 1rem;
    width: 1rem;
    margin-bottom: -1px;
    margin-left: -1rem;
    display: none;
}

.topnav div.topnav-item {
    padding-bottom: calc( 1rem - 1px);
}

.topnav input{
    position: relative;
    width: calc(100%);
    padding: 0;
    background-color: rgba(0,0,0,0);
    opacity: 0.6;
    color: white;
    border: 0;
    border-bottom: 1px solid white;
}

div.topnav-right:hover img.searchbutton,div.topnav-right:focus-within img.searchbutton {
    display: inline-block;
}

.topnav input:hover, .topnav input:active, .topnav input:focus{
    opacity: 1;
}

.bold {
    font-weight: bold;
}

/*background-color: #1565c0;*/

.topnav.lightblue-fx a:hover {
    background-color: #5e92f3;
}

.topnav.lightblue-fx a:active, .topnav.lightblue-fx a:focus {
    background-color: #003c8f;
}

.topnav.lightblue-fx a.active {
    background-color: #1565c0;
}
